.gray-text {
    color: #a7a2a2;
}
.info-font{
    font-size: 13px;
    margin-left: 1rem;
}


@media only screen and (max-device-width : 550px) 
{
    .title-font-size{
        font-size: 14px;
    }
    .info-font{
        font-size: 11px;
        margin-left: 0;
    }
}