.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-class {
  left: 45%;
  top: 50%;
  overflow: visible;
  position: absolute;
  z-index: 9999;
}

/* .button-align{
 
  padding-bottom: 20px;
}

.prevButtonAlign {
  position: relative;
  left: 1.5%;
} */

/* @media only screen and (max-device-width: 550px) {
  .button-align {
    position: relative;
    left: 30%;
  }
  .nextButtonAlign {
    position: relative;
    left: 10%;
  }
} */
