
.nav-bar-custom {
    background-color:#ff7e16!important;
    height: 55px;
}
.nav-bar-content {
    position: relative;
    bottom: 35%;
}
.btn-color {
    position: relative;
    /* background-color: transparent;
    color: black; */
    /* bottom: 10px; */
} 

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.btn:active {
    top: 2px;
}

